@using HealthAndBeauty.Models.OrderModels;
@Model HealthAndBeauty.Models.OrderModels.HistoryGroup;
<head>
    <link rel="stylesheet" href="~/css/history/history.css" />
</head>

<body>

    @*    @foreach (var history in ViewBag.OrdersHistory)*@
    @foreach (HistoryGroup history in ViewBag.OrdersHistory)
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-white p-2 border rounded px-3">
                        <div class="d-flex flex-row justify-content-between align-items-center order">
                            <div class="d-flex flex-column order-details"><span>Your order has been delivered</span><span class="date">by DHFL on 21 Jan, 2020</span></div>
                            <div class="tracking-details"><button class="btn btn-outline-primary btn-sm" type="button">Track order details</button></div>
                        </div>
                        <hr class="divider mb-4">
                        <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                            <span class="dot"></span>
                            @if (history.Count >= 1)
                            {
                                <hr class="flex-fill track-line"><span class="dot"></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="dot inactive"></span>
                            }

                            @if (history.Count >= 2)
                            {
                                <hr class="flex-fill track-line"><span class="dot"></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="dot inactive"></span>
                            }

                            @if (history.Count >= 3)
                            {
                                <hr class="flex-fill track-line"><span class="dot"></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="dot inactive"></span>
                            }


                            @if (history.Count == 4)
                            {
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot"><i class="fa fa-check text-white"></i></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="d-flex justify-content-center align-items-center big-dot dot inactive"><i class="fa fa-check text-white"></i></span>
                            }

                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-column align-items-start"><span>15 Mar</span><span>Order placed</span></div>
                            <div class="d-flex flex-column justify-content-center"><span>15 Mar</span><span>Order placed</span></div>
                            <div class="d-flex flex-column justify-content-center align-items-center"><span>15 Mar</span><span>Order Dispatched</span></div>
                            <div class="d-flex flex-column align-items-center"><span>15 Mar</span><span>Out for delivery</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
