@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Orders";
}

@inject UserManager<IdentityUser> userManager;

<h1>Orders</h1>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Order №</th>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Сourier</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Order order in ViewBag.Orders)
        {
            <tr>
                <th scope="row">1</th>
                <td>@userManager.FindByIdAsync(order.UserId.ToString()).Result.UserName</td>
                <td>@order.ReceiptDate</td>
                <td>@order.Status</td>
                @if (order.CourierId.ToString() != Guid.Empty.ToString())
                {
                    <td>@userManager.FindByIdAsync(order.CourierId.ToString()).Result.UserName</td>
                }
                else
                {
                    <td><button class="btn btn-success" value="set">Set</button></td>
                }

            </tr>

        }
        }
    </tbody>

    <caption>List of orders</caption>

</table>