.loading-box {
    position: absolute;
    width: 100% !important;
    height: 300px !important;
    bottom: 120px;
    background: black;
    opacity: 0.8;
}

.collapsed {
    visibility:collapse;
}

.delivery-address-form{
    height:40px;

}

.pickup-address-form {
    height: 400px;
}

    .pickup-address-form .hidden {
        height: 0;
        transition: none !important;
    }


.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    color: #4c4e56;
    height: 340px;
    transition:linear 0.5s;
}




.hidden {
        height: 0;
        transition: linear 0.5s;
    }

    .creditCardForm label {
        width: 100%;
        margin-bottom: 10px;
    }

    .creditCardForm .heading h1 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #4c4e56;
    }

    .creditCardForm .payment {
        float: left;
        font-size: 18px;
        position: relative;
    }

        .creditCardForm .payment .form-group {
            float: left;
            margin-bottom: 15px;
        }

        .creditCardForm .payment .form-control {
            line-height: 30px;
            height: auto;
            padding: 0 16px;
        }

    .creditCardForm .owner {
        width: 100%;
    }

    .creditCardForm .CVV {
        width: 35%;
    }

    .creditCardForm #card-number-field {
        width: 100%;
    }

    .creditCardForm #expiration-date {
        width: 49%;
    }

    .creditCardForm #credit_cards {
        width: 50%;
        margin-top: 25px;
        text-align: right;
    }

    .creditCardForm #pay-now {
        width: 100%;
        margin-top: 25px;
    }

    .creditCardForm .payment .btn {
        width: 100%;
        margin-top: 3px;
        font-size: 24px;
        background-color: #2ec4a5;
        color: white;
    }

    .creditCardForm .payment select {
        padding: 10px;
        margin-right: 15px;
    }

.transparent {
    opacity: 0.2;
}



@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }

    .creditCardForm #credit_cards {
        text-align: left;
    }
}
.exp-wrapper {
    position: relative;
    border: 1px solid #aaa;
    display: flex;
    width: 150px;
    justify-content: space-around;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

    .exp-wrapper:after {
        content: '/';
        position: absolute;
        left: 50%;
        margin-left: -4px;
        color: #aaa;
    }

input.exp {
    float: left;
    font-family: monospace;
    border: 0;
    width: 20px;
    outline: none;
    appearance: none;
    font-size: 14px;
}

.address-select{
    width: 100%
}