@{
    ViewBag.Title = "About Us";
}
<head>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJMF3gVJD6f6ue_2lLeBODZIfgOI2B3os"></script>
    <script src="~/js/maps-scripts/map-display.js"></script>
</head>
<body>
    <div class="about-us-container">
        <div class="about-us-block">
            <h2>
                Careers
            </h2>
            <article>
                HealthAndBeauty is a fast-growing company and we are always looking for motivated, multi-talented, and organized people to join our team. To learn more, please see the HealthAndBeauty page.

            </article>
        </div>

        <div class="about-us-block">
            <h2>
                Contact Us
            </h2>
            <article>
                <p>Whether you have a comment or suggestion to share, we look forward to hearing from you. Feel free to reach out by visiting our <a asp-controller="" asp-action="">Contact Us </a> page.</p>
            </article>
        </div>

        <div class="about-us-block">
            <h2>
                Our locations
            </h2>

            <article>
                Our primary offices are in 
                <ul>
                    @{foreach (string address in ViewBag.Addresses)
                        {
                            <li>
                                @address
                            </li>
                        }
                    }
                </ul>         
            </article>

            @if(User.IsInRole("manager") || User.IsInRole("admin"))
            {
                <a style="map-edit-link" asp-controller="AboutUs" asp-action="EditLocations">Edit locations</a>
            }

        </div>
    </div>

    <div id="MapDiv" class="map-container"> </div>

</body>
